@import url('https://fonts.googleapis.com/css?family=Sarabun');


*{
	font-family: 'Sarabun', sans-serif;
	-webkit-tap-highlight-color:  rgba(255, 255, 255, 0);
}


body{
    margin: 0 auto;
    font-size: 14px;
    overflow-x: hidden;
}

::-webkit-scrollbar{width:10px;}
::-webkit-scrollbar-track{background:rgba(0,0,0,0.2);}
::-webkit-scrollbar-track:hover{background:rgba(51,82,164,0.2);}
::-webkit-scrollbar-thumb{background:rgba(0,0,0,0.5);border:1px solid rgba(0,0,0,0.1);border-radius:0px 0px 5px 5px;}
::-webkit-scrollbar-thumb:hover{background:#ec008c;border:1px solid #c40476;}
::-webkit-scrollbar-thumb:window-inactive{background:rgba(0,0,0,0.5);}

a{
    color: #ec008c;
    text-decoration: none;
    cursor: pointer;
}

a:hover{
    color: #c40476;
}

h1, h2, h3, h4, h5, p{
    display: block;
    margin: 15px 0px;
    line-height: 1.5;
    color: #151515;
}

.container{
    position: relative;
    box-sizing: border-box;
    width: 1224px;
    max-width: 90%;
    margin: 0 auto;
}

.container h1:nth-child(1){
    padding: 1.5rem 0;
    text-align: center;
}

.flower{
    max-width: 100%;
}

.bookWrapper{
    height: 95px;
    padding: 0 35px 0 35px;  
    background-color: #E6E6E6;
    position: relative;
    top: -15px;
    border-radius: 0 0 7px 7px;
    display: flex; 
    align-items: center; 

}

.bookText{
    display: flex;
    justify-content: flex-start;
    width: 50%;
}

.bookBtn{
    height: inherit;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 50%;
}

.bookBtn button{
    height: 50px;
    width: 182px;
    background-color: #EC008C;
    border-style: none;
    border-radius: 7px;
    color: white;
    font-weight: 700;
}




.secContainer{
    position: relative;
    width: 977px;
    height: 305px;
    margin: 0 auto;
    padding: 20px 0;
}

.secContainer,.thirdContainer,.fourthContainer,.downFifthContainer, p{
    color: #6A6A6A;
    font-size: 15px;
}

.thirdContainer{
    width: 977px;
    margin: 0 auto;
    display: flex;
}


.leftWhyDecl{
    /* width: 51%;     */
    position: relative;
    top: 15px;

}
.rightWhyDecl{
    width: 49%;
    display: flex;
    justify-content: flex-end;
    margin: 0;
}


.fourthContainer{
    width: 977px;
    margin: 50px auto;
    height: auto;
}

.horFirst{
    width: 75%;
}

.fifthContainer{
    position: relative;
    margin: 0 auto;
    padding-top: 30px;
    width: 977px;
    height: auto;
    display: flex;
}

.leftFifth{
    width: 51%;    
    position: relative;
}

.rightFifth{
    width: 49%;
    display: flex;
    justify-content: flex-end;
    margin: 0;   
}

.flexItem h3{
    font-size: 18px;
}

.flexItem ul li{
    list-style: none;
    color: #6A6A6A;
    font-size: 15px;
    line-height: 50px;
}



.sixthContainer{
    position: relative;
    margin: 0 auto;
    width: 977px;
    height: auto;
}

.customeList{
    list-style-image: url(../imgs/vectorLi.png);
    position: relative;
    top: -4px;
    padding-right: 25px;
}

.seventhContainer{
    width: 977px;
    margin: 0 auto;
    position: relative;
}

.seventhContainer h3{
    font-size: 18px;
}

.seventhLeftImg{
    position: absolute;
    right: 0;
    top: 0;
}

.seventParaLeft{
    font-size: 21px;
    color: #EC008C;
    font-weight: bold;
    line-height: 20px;  
    padding-top: 5px; 
}

.eighthContainer{
    position: relative;
    margin: 0 auto;
    width: 977px;
    height: 500px;
    display: flex;
}

.howToBookUs{
    font-size: 21px;
    font-weight: bold;
    text-align: center;
    color: black;
    padding: 30px 0;
}

.centerSomeText{
    width: 977px;
    height: auto;
    text-align: center;
    margin: 0 auto;
}

.processNum{
    /* width: 51%; */
    height: inherit;
}

.processNum hr{
    width: 90%;
    margin-left: 0;
}


.numElement{
    width: 100%;
    display: flex;
}


.numList{
    width: 13%;
    font-size: 36px;
    font-weight: bold;
    color: #CECECE;
}

.numContent{
    width: 87%;
    /* margin-left: 20%; */
}

.processImg{
    width: 49%;
    display: flex;
    justify-content: flex-end;
}

.zTwo{
    position: relative;
    top: 10px;
}

.ninthContainer{
    width: 995px;
    height: auto;
    /* border: 1px solid red; */
    margin: 0 auto;
    display: flex;

}

.ninthContFirst{
    width: 66.6666%;
    height: inherit;
    display: flex;
    flex-wrap: wrap;
}


.eleOne{
    width: 315px;
    height: 447px;
    /* border: 1px solid yellow; */
    background-color: #FCFCFC;
    /* margin-left: -5px; */

}

.eleTwo{
    width: 315px;
    height: 447px;
    /* border: 1px solid blue; */
    background-color: #FCFCFC;
    
}

.secLayout{
    margin-top: 35px;
    display: flex;
    flex-wrap: wrap; 
}

.eleFour{
    width: 315px;
    height: 517px;
    /* border: 1px dotted pink; */
    background-color: #FCFCFC;
    /* margin-left: -5px; */

}
.eleFive{
    width: 315px;
    height: 517px;
    /* border: 1px dashed seagreen; */
    background-color: #FCFCFC;
}



.ninthContSecond{
    width: 33.3333%;
    height: 998px;
    /* border: 1px solid blue; */
    margin-left: 8px;
    display: flex;
    flex-wrap: wrap;
    
}


.offerOne{
    font-size: 36px;
    font-weight: bold;
    color: #CECECE;
    padding: 25px 25px 0;
}



.eleOne li{
    list-style-position: inside;
    list-style: none;
    font-size: 15px;
    line-height: 22px;
}

.eleOne li::before{
    content: "\2022";
    color: #EC008C;
    font-weight: bold;
    display: inline-block;
    margin-right: 5px; 
}

.eleOne ul{
    margin-left: -15px;
    margin-right: 15px;
    color: #6A6A6A;
    font-size: 15px;
    color: #464545;
}
.ninthContainer p{
    padding: 0 25px;
}

/* Ele 2 */
.offerTwo{
    font-size: 36px;
    font-weight: bold;
    color: #CECECE;
    padding: 25px 25px 0;
}



.eleTwo li{
    list-style-position: inside;
    list-style: none;
    font-size: 15px;
    line-height: 22px;
}

.eleTwo li::before{
    content: "\2022";
    color: #EC008C;
    font-weight: bold;
    display: inline-block;
    margin-right: 5px; 
}

.eleTwo ul{
    margin-left: -15px;
    margin-right: 15px;
    color: #6A6A6A;
    font-size: 15px;
    color: #464545;
}


/* Ele-4 */
.offerFour{
    font-size: 36px;
    font-weight: bold;
    color: #CECECE;
    padding: 25px 25px 0;
}



.eleFour li{
    list-style-position: inside;
    list-style: none;
    font-size: 15px;
    line-height: 22px;
}

.eleFour li::before{
    content: "\2022";
    color: #EC008C;
    font-weight: bold;
    display: inline-block;
    margin-right: 5px; 
}

.eleFour ul{
    margin-left: -15px;
    margin-right: 15px;
    color: #6A6A6A;
    font-size: 15px;
    color: #464545;
}


/* Ele-5 */
.offerFive{
    font-size: 36px;
    font-weight: bold;
    color: #CECECE;
    padding: 25px 25px 0;
}



.eleFive li{
    list-style-position: inside;
    list-style: none;
    font-size: 15px;
    line-height: 22px;
}

.eleFive li::before{
    content: "\2022";
    color: #EC008C;
    font-weight: bold;
    display: inline-block;
    margin-right: 5px; 
}

.eleFive ul{
    margin-left: -15px;
    margin-right: 15px;
    color: #6A6A6A;
    font-size: 15px;
    color: #464545;
}


/* Ele Three */

.eleThree{
    background-color: #FCFCFC;
    height: 97%;
}

.offerThree{
    font-size: 36px;
    font-weight: bold;
    color: #CECECE;
    padding: 25px 25px 0;
}



.eleThree li{
    list-style-position: inside;
    font-size: 15px;
    line-height: 22px;
}

.eleThree ol{
    margin-left: -15px;
    margin-right: 15px;
    color: #6A6A6A;
    font-size: 15px;
    color: #464545;
}

.forWhomText{
    width: 977px;
    height: auto;
    margin: 0 auto;
}



.ti{
    color: black;
    margin: 0 auto;
}

.dummyContainer{
    width: 977px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}


.tenthContainer{
    width: 977px;
    height: auto;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.forWhomContainer{
    width: 315px;
    height: 146px;
    margin-bottom: 20px;
    box-shadow: 5px 5px 5px #d4d4d4;
}

.pinkIcon{
    margin:20px 41% 0 41%;
}
.pinkText{
    margin: 15px 14px 0 14px;
    color: #464545;
    font-size: 15px;
}

.textAlign{
    text-align: center;
}

.eleventhContainer{
    width: 1029px;
    height: auto;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    /* border: 1px solid black; */
}

.whyOurServiceContainer{
    width: 247px;
    height: 239px;
    margin-bottom: 20px;
    /* border: 1px dotted blue; */
    background-color: #FCFCFC;
}

.pinkSec{
    margin: 30px 110px 20px 110px;
}

.pinkSecText{
    margin: 15px 18px 0 18px;
    color: #464545;
    font-size: 15px;    
}

.sideImg{
    width: 100%;
    height: 100%;
}


.flexContainer{
    width: 977px;
    height: auto;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    /* border: 1px solid black; */
}

.flexItem{
    width: 50%;
    height: auto;
    margin-bottom: 20px;
    /* border: 1px dotted blue; */
}


.seventhMoreData{
    position: relative;
    margin: 0;
    padding: 0;
    top: -39px;
}


.customHr{
    width: 75%;
}

.mainFlex{
    width: 1039px;
    height: 1029px;
    /* border: 1px solid black; */
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.leftFlex{
    width: 66%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.rightFlex{
    width: 31%;
    height: auto;
}

.flexItems{
    /* width: 48%;
    height: auto; */
    /* border: 1px solid red; */
    margin-bottom: 20px;
}

.mainFlex p{
    font-size: 15px;
    padding-left: 25px;
}



/* Media Queries */

@media screen and (max-width: 1029px){

    .dummyContainer{
        width: 690px;
    }

    .mainFlex{
        width: 700px;
    }

    .leftFlex{
        width: 49%;
    }

    .rightFlex{
        width: 48%;
    }
    .eleThree{
        height: 99%;
    }

    /* .eleFive{

    } */

    .resize{
        position: relative;
        margin-top: 1000px;    
    }

    .eleventhContainer,.tenthContainer {
        width: 700px;
        justify-content: space-evenly;        
    }


    .sideImg{
        height: 50%;
    }
    .numContent p{
        line-height: 20px;
    }

    .flexContainer{
        width: 700px;
    }

}


@media screen and (max-width: 699px){
    /* body{
        background-color: yellow;
    } */


    .dummyContainer{
        width: 390px;
        margin-left: 30px;
    }

    .mainFlex{
        width: 400px;
        position: relative;
        left: -120px;
    }
    .leftFlex{
        width: 100%;
    }

    .bookWrapper h2{
        font-size: 15px;
    }

    .rightFlex{
        width: 79%;
        position: relative;
        left: 15px;
    }

    .eleThree{
        height: 99%;
        position: relative;
        left: -80px;
    }

    .eleFive{
        position: relative;
        left: -66px;
    }
    .eleOne{
        position: relative;
        left: -66px;
    }

    .eleTwo{
        position: relative;
        left: -66px;
    }
    .eleFour{
        position: relative;
        left: -66px;
    }
    .resize{
        position: relative;
        margin-top: 1777px;
    }

    .eleventhContainer,.tenthContainer {
        width: 400px;
        justify-content: space-evenly;        
    }

    .ninthContFirst{
        width: 50%;
    }
    .ninthContSecond{
        margin-left:-170px;
    }
    .numContent p{
        line-height: 20px;
    }

    .flexContainer{
        flex-direction: column-reverse;
        margin-left: 10px;
        /* display: flex; */
    }

}


